//// Helpers
  @import '_helpers/math';
  @import '_helpers/str';

//// Generators
  @import '_generators/fluid values';
  @import '_generators/variables';

//// Global variables
  //
  $white: hsl(190,40%,100%);
  $m-100: hsl(201,25%,96%);
  $m-200: hsl(206,18%,89%);
  $m-300: hsl(208,15%,79%);
  $m-400: hsl(209,14%,66%);
  $m-500: hsl(210,14%,53%);
  $m-600: hsl(210,15%,43%);
  $m-700: hsl(211,17%,32%);
  $m-800: hsl(211,20%,23%);
  $m-900: hsl(211,24%,14%);
  $black: hsl(211,30%,5%);

  $color-body: #222;
  $text-blocks:          'h1, h2, h3, h4, h5, h6, p';
  $text-blocks-headings: 'h1, h2, h3, h4, h5, h6';

  :root {
    --border-radius: 5px;

    @include fv((
       375px: 40px,
      1024px: 80px,
      1440px: 120px
    ), '--sp');

    @include fv((
       375px: 40px,
      1024px: 80px
    ), '--bs');

    --cg: 24px;
    --rg: 1.5rem;

    --font-headings: 'Volkhov';
    --font-body: 'Inconsolata';
  }

*, ::before, ::after {
  box-sizing: border-box;
  position: relative;
  border-width: 0;
  border-style: solid;
}

body {
  margin: 0;
  font-family: sans-serif;
}

//// Document
  // Generic stuff about the document as a whole
  // Mostly related to the way text is displayed
  //
  @import '1 document/big bang';
  @import '1 document/universal';
  @import '1 document/global';

//// Lay-out
  // 
  //
  @import '2 lay-out/sections';

//// Globals
  // Variables accessed with the gv() function need to be created after the last call
  //
  @include flush-variables();

