//// Default styles
  // Mainly text-related
  //
  body {
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.5;
    color: $color-body;
  }

  #{$text-blocks-headings} {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.125;

    + * {
      margin-top: gv(rg);
    }

    span {
      color: var(--th-500);
    }
  }

  #{$text-blocks} {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    @include fv((
       375px: 32px,
      1440px: 48px
    ), 'font-size');
  }

  h2 {
    @include fv((
       375px: 24px,
      1440px: 32px
    ), 'font-size');
  }

  h3 {
    @include fv((
       375px: 20px,
      1440px: 24px
    ), 'font-size');
  }

  h4 {
    @include fv((
       375px: 18px,
      1440px: 20px
    ), 'font-size');
  }

//// Default list-styles
  //
  body > main {
    ul, ol, dl {
      margin-bottom: 0;
    }

    ul, ol {
      padding: 0;

      &:not(.noStyles) {
        list-style: none;
      }
    }

    ul:not(.noStyles) {
      > li {
        padding-left: 2.5em;

        &::before {
          content: '';
          position: absolute;
          top: .8em;
          left: .87em;
          width:  6px;
          height: 6px;
          background-color: currentColor;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }

    ol:not(.noStyles) {
      counter-reset: ol;

      > li {
        &::before {
          justify-self: end;
          counter-increment: ol;
          content: counters(ol, '.') '.';
          font-variant-numeric: tabular-nums;
        }
        &:empty::after {
          content: '';
        }
      }

      @supports (display: contents) and (caret-color: #000) {
        display: grid;
        grid-column-gap: gv(cg);
        grid-template-columns: minmax(calc(1.3434ex * 2 + .5611ex), max-content) auto; // min value is roughly 2 numbers and a period

        > li {
          display: contents;
        }
      }
    }
  }
