<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Create Character</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/main.js" type="module" defer></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <form method="post" action="/player.create" enctype="multipart/form-data">
        <h1>Create Character</h1>

        <section>
            <p>Character name</p>
            <input name="Name" type="text"><br>
            <p>Game</p>
            <select name="Game" id="select-game-list">
            </select><br>
            <p>Appearance</p>
            <input type="file" name="Appearance" accept=".png,.jpeg">
        </section>

        <section>
            <p>Class</p>
            <select name="Class" id="select-class-list"></select><br>
            <p>Race</p>
            <select name="Race" id="select-race-list"></select><br>
            <p>Alignment</p>
            <select name="Alignment">
                <option value="Lawful good">Lawful good</option>
                <option value="Neutral good">Neutral good</option>
                <option value="Chaotic good">Chaotic good</option>
                <option value="Lawful neutral">Lawful neutral</option>
                <option value="Neutral">Neutral</option>
                <option value="Chaotic neutral">Chaotic neutral</option>
                <option value="Lawful evil">Lawful evil</option>
                <option value="Neutral evil">Neutral evil</option>
                <option value="Chaotic evil">Chaotic evil</option>
            </select><br>
            <p>Experience points</p>
            <input type="number" name="Experience_points"><br>
        </section>

        <section class="main-stats">
            <h2>Main Stats</h2>
            <p>Strength</p>
            <input type="number" name="Strength"     min="0" max="20" value="0"><br>
            <p>Dexterity</p>
            <input type="number" name="Dexterity"    min="0" max="20" value="0"><br>
            <p>Constitution</p>
            <input type="number" name="Constitution" min="0" max="20" value="0"><br>
            <p>Intelligence</p>
            <input type="number" name="Intelligence" min="0" max="20" value="0"><br>
            <p>Wisdom</p>
            <input type="number" name="Wisdom"       min="0" max="20" value="0"><br>
            <p>Charisma</p>
            <input type="number" name="Charisma"     min="0" max="20" value="0"><br>
        </section>

        <section class="Saving_throws">
            <h2>Saving Throws</h2>
            <p>Strength</p>
            <input type="checkbox" name="Strength_saving_throw"><br>
            <p>Dexterity</p>
            <input type="checkbox" name="Dexterity_saving_throw"><br>
            <p>Constitution</p>
            <input type="checkbox" name="Constitution_saving_throw"><br>
            <p>Intelligence</p>
            <input type="checkbox" name="Intelligence_saving_throw"><br>
            <p>Wisdom</p>
            <input type="checkbox" name="Wisdom_saving_throw"><br>
            <p>Charisma</p>
            <input type="checkbox" name="Charisma_saving_throw">
        </section>

        <section class="Skills">
            <h2>Skills</h2>
            <p>Acrobatics</p>
            <input type="checkbox" name="Acrobatics"><br>
            <p>Animal handling</p>
            <input type="checkbox" name="Animal_handling"><br>
            <p>Arcana</p>
            <input type="checkbox" name="Arcana"><br>
            <p>Athletics</p>
            <input type="checkbox" name="Athletics"><br>
            <p>Deception</p>
            <input type="checkbox" name="Deception"><br>
            <p>History</p>
            <input type="checkbox" name="History"><br>
            <p>Insight</p>
            <input type="checkbox" name="Insight"><br>
            <p>Intimidation</p>
            <input type="checkbox" name="Intimidation"><br>
            <p>Investigation</p>
            <input type="checkbox" name="Investigation"><br>
            <p>Medicine</p>
            <input type="checkbox" name="Medicine"><br>
            <p>Nature</p>
            <input type="checkbox" name="Nature"><br>
            <p>Perception</p>
            <input type="checkbox" name="Perception"><br>
            <p>Performance</p>
            <input type="checkbox" name="Performance"><br>
            <p>Persuasion</p>
            <input type="checkbox" name="Persuasion"><br>
            <p>Religion</p>
            <input type="checkbox" name="Religion"><br>
            <p>Sleight of Hand</p>
            <input type="checkbox" name="Sleight_of_hand"><br>
            <p>Stealth</p>
            <input type="checkbox" name="Stealth"><br>
            <p>Survival</p>
            <input type="checkbox" name="Survival"><br>
        </section>

        <section>
    <!--        <p>Inspiration</p>-->
    <!--        <input name="Inspiration" type="checkbox"><br>-->
            <p>Proficiency Bonus</p>
            <input name="Proficiency_bonus" type="number"><br>
        </section>



    <!--    <section>-->
    <!--        <p>Features & Traits</p><br>-->
    <!--        <textarea name="Features-traits"></textarea>-->
    <!--    </section>-->

    <!--    <section>-->
    <!--        <p>Languages</p><br>-->
    <!--        <textarea name="Languages"></textarea>-->
    <!--    </section>-->

    <!--    <section>-->
    <!--        <p>Other Proficiencies</p><br>-->
    <!--        <textarea name="Other-Proficiencies"></textarea>-->
    <!--    </section>-->

    <!--    <section>-->
    <!--        <p>Spellcasting Ability</p>-->
    <!--        <input name="Spellcasting-ability" type="number"><br>-->
    <!--        <p>Spell Save DC</p>-->
    <!--        <input name="Spell-save-dc" type="number"><br>-->
    <!--        <p>Spell Attack Bonus</p>-->
    <!--        <input name="Spell-attack-bonus" type="number"><br>-->
    <!--    </section>-->
        <input type="submit">
    </form>
</body>
</html>