* {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
}

section {
    height: 95vh;
    display: none;
}

header {
    border-bottom: 1px solid gray;
    height: 5vh;
}

#login {
    padding-top: 35vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

#login > form > input {
    border: none;
    border-bottom: 1px dotted;
    text-align: center;
}

#login > form > input:focus {
    outline: none;
}

#overview > div {
    display: flex;
    height: 100%;
}

#overview > div > div {
    flex: 1;
    height: 100%;
}

#overview > div > div:first-of-type {
    border-right: 1px solid;
}
