<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/Config.js"></script>

    <title>Games</title>
</head>
<body>
    <script>
        fetch("http://"+window.location.host+"/data").then(r => r.json()).then(data => {
            data.games.forEach(obj => {
                let game = document.createElement("button")
                game.innerText = obj.Name
                game.addEventListener("click", e => {
                    window.localStorage.setItem(GAME_KEY, JSON.stringify(obj))
                    window.location = "http://"+window.location.host+"/game"
                })
                document.body.appendChild(game)
            })})
    </script>
</body>
</html>
