<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/form.css">
    <title>Create game</title>
</head>
<body>
<form method="post">
    <h1>Create Character</h1>

    <section>
        <p>Game name</p>
        <input name="Name" type="text" ><br>

        <p>Password</p>
        <input type="password" name="Password">
    </section>

    <input type="submit">
</form>
</body>
</html>