<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/Player/Create.js" defer></script>

    <link rel="stylesheet" href="css/form.css">
    <title>Login</title>
</head>
<body>
<form method="post">
    <label style="width: 100px; display: inline-block">name</label>
    <input type="text" name="username"><br>
    <label style="width: 100px; display: inline-block">password</label>
    <input type="password" name="password"><br>
    <input type="submit">
</form>
</body>
</html>
